.pokemonList-wrapper {
    margin: auto auto; /* Centers the list horizontally */
    /* Adds space between the items */
    display: flex;
    flex-direction: column;
    align-items: center; /* Centers the items horizontally */
}
.pokemon-wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 1rem;
    justify-content: space-evenly;
}
.button-wrapper{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem; /* This adds space between the buttons */
}
button {
    padding: 1rem;
    width: 100px;
    border-radius: 50px;
    background-color: #ff4141;
    border: none;
    font-size: 1rem;
}

