.pokemon{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 20%;
     width: 400px;
    height: 250px;
    margin-top: 2rem;
   
}
.pokemon-image{
    height: 220px;
    max-height: 80%;
    margin-top: 1rem;
    border-radius: 10px;
}
.pokemon-name{
    font-size: 1.5rem;
    
    margin-top: 0.5rem;
    align-self: center;
    text-transform: capitalize;
    letter-spacing: 0.5rem;
    
}
.pokemon:hover{
    background-color: beige;
    cursor: pointer;

}